@media (min-width: 992px) { 
  .col-lg-8 {
    width: 66.67%;
  }
}

.btn-matrix {
  border-radius: var(--bs-border-radius);
  --bs-gap: 0;
}

.btn-matrix > .grid > .g-col {
  display: grid;
  aspect-ratio: 1;
}

.btn-matrix > .grid > .g-col:not(:first-child) > .btn { 
  margin-left: calc(var(--bs-border-width) * -1);
}

.btn-matrix > .grid:not(:first-child) > .g-col > .btn {
  margin-top: calc(var(--bs-border-width) * -1);
}

.btn-matrix > .grid > .g-col > .btn {
  border-radius: 0;
}

.btn-matrix > .grid:first-child > .g-col:first-child > .btn {
  border-top-left-radius: var(--bs-border-radius);
}

.btn-matrix > .grid:first-child > .g-col:last-child > .btn {
  border-top-right-radius: var(--bs-border-radius);
}

.btn-matrix > .grid:last-child > .g-col:first-child > .btn {
  border-bottom-left-radius: var(--bs-border-radius);
}

.btn-matrix > .grid:last-child > .g-col:last-child > .btn {
  border-bottom-right-radius: var(--bs-border-radius);
}

.calendar {
  --bs-columns: 7;
}

.date-container {
  container-type: inline-size;
  container-name: date-container;
}

.date {
  display: grid;
  align-items: center;
}

@container date-container (width < 0px) or (width > 0px) {
  .date {
    font-size: 30cqmin;
  }
}
